.quiz-wrapper {
  padding: 20px;

  .back-icon {
    display: flex;
    gap: 1rem;
    color: #2870ed;
    margin-left: 4rem;
    margin-bottom: 2rem;

    p {
      font-size: 1.5rem;
    }
  }

  .quiz {
    width: 80%;
    margin: 0 auto;
    .quiz-h1 {
      text-align: center;
      margin: 5rem 0;
      color: #2870ed;
      font-size: 2rem;
    }
    .quiz-btn {
      display: block;
      width: 100%;
      outline: none;
      border: 2px solid #d0cbc4;
      padding: 2rem 0;
      border-radius: 16px;
      background-color: transparent;
      color: black; /* Default text color */
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &.correct {
        border-color: #0cb43f;
        background-color: #6cd99c33;
        /* Text color when correct */
      }

      &.wrong {
        border-color: #cc2b4e;
        background-color: #ff9fb633;
        color: black; /* Text color when wrong */
      }
    }

    .result-true {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #0cb43f;
      padding: 2rem;
      border-radius: 24px;

      .left {
        display: flex;
        align-items: center;
        gap: 2rem;
        p {
          color: white;
        }
      }

      .right {
        button {
          background-color: transparent;
          border: 2px solid white;
          color: white;
          padding: 0.5rem 2rem;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }
    .result-false {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #cc2b4e;
      padding: 2rem;
      border-radius: 24px;

      .left {
        display: flex;
        align-items: center;
        gap: 2rem;
        p {
          color: white;
        }
      }

      .right {
        button {
          background-color: transparent;
          border: 2px solid white;
          color: white;
          padding: 0.5rem 2rem;
          cursor: pointer;
          border-radius: 8px;
        }
      }
    }
  }
}
.modal-back {
  padding: 2rem;

  .top {
    background-color: #2870ed;
    display: flex;
    gap: 2rem;
    align-items: center;

    h2 {
      color: white;
      padding: 2rem;
      font-size: 1.25rem;
    }
  }

  .bottom {
    padding: 2rem 0;
    p {
      margin: 1rem;
      text-align: center;
    }
    .btns {
      padding-top: 2rem;
      display: flex;
      justify-content: space-between;

      .empty-btn {
        border: 2px solid #ff6130;
        color: #ff6130;
        background-color: transparent;
        padding: 0.5rem 2rem;
        border-radius: 8px;
        width: 40%;
        cursor: pointer;
      }
      .fill-btn {
        border: 2px solid #ff6130;
        color: white;
        background-color: #ff6130;
        padding: 0.5rem 2rem;
        border-radius: 8px;
        width: 40%;
        cursor: pointer;
      }
    }
  }
}
