@use "../abstracts/variables" as var;

.faq {
  margin-top: var.rem-calc(216);
  background: var.$color-background-dark;
  color: var.$color-text-light;
  padding: var.rem-calc(40);

  &__title {
    font-size: var.rem-calc(56);
    font-weight: 400;
    margin-bottom: var.rem-calc(60);
    color: var.$color-text-light;
  }

  &__list {
    list-style: none;
    padding: var.rem-calc(80) 0;
    margin: 0;
  }

  &__item {
    border: 1px solid var.$color-border-light;
    border-radius: var.rem-calc(20);
    padding: var.rem-calc(20);
    cursor: pointer;
    background-color: var.$color-background-dark;
    transition: background-color 0.3s, border-color 0.3s;
    &:not(:last-of-type) {
      margin-bottom: var.rem-calc(39);
    }

    &:hover {
      background-color: var.$color-accent;
      color: var.$color-text-light;
      border-color: var.$color-accent;
    }

    &.active {
      background-color: var.$color-background-dark;

      &:hover {
        background-color: var.$color-background-dark;
        border-color: var.$color-border-light;
      }
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var.rem-calc(20);
    font-weight: 400;
    color: var.$color-text-light;
  }

  &__icon {
    display: flex;
    align-items: center;

    .faq__arrow {
      width: var.rem-calc(40);
      height: var.rem-calc(40);
      transition: transform 0.3s;

      &--active {
        transform: rotate(180deg);
      }
    }
  }

  &__answer {
    margin-top: var.rem-calc(16);
    font-size: var.rem-calc(16);
    font-weight: 400;
    color: var.$color-subtext-light;
  }
}

// For About Page
.faq--about-page {
  margin: 0;
  margin-top: var.rem-calc(216);
  margin-bottom: var.rem-calc(-56);
  padding: 0;
}
