@use "../abstracts/variables" as var;

.newsletter {
  background: var.$color-background-dark;
  width: 100%;
  padding-top: 216px;
  padding-bottom: 116px;

  &__content {
    margin: 0 auto;
    color: var.$color-text-light;
    padding: var.rem-calc(40);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var.$color-background-grey;
    width: 80%;
  }

  &__title {
    font-size: var.rem-calc(24);
    font-weight: 400;
    color: var.$color-text-light;
    margin-bottom: var.rem-calc(32);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var.rem-calc(400);

    &-input {
      background: none;
      border: 1px solid var.$color-border-light;
      border-radius: var.rem-calc(20);
      padding: var.rem-calc(10) var.rem-calc(10) var.rem-calc(10)
        var.rem-calc(32);
      color: var.$color-text-light;
      font-size: var.rem-calc(20);
      width: 100%;
      max-width: var.rem-calc(400);
      margin-bottom: var.rem-calc(8);

      &::placeholder {
        transition: opacity 0.3s;
      }

      &:hover {
        border: 1px solid var.$color-accent;
        color: var.$color-accent;
        font-weight: 400;
      }

      &:focus {
        border: 2px solid var.$color-border-light;
        color: var.$color-text-light;
        outline: none;
        font-weight: normal;

        &::placeholder {
          opacity: 0;
        }
      }
    }

    &-subtext {
      font-size: var.rem-calc(16);
      font-weight: 400;
      color: var.$color-subtext-light;
      align-self: flex-start;
      padding-left: var.rem-calc(32);
      margin-bottom: var.rem-calc(16);
    }

    &-button {
      background: var.$color-accent;
      color: var.$color-text-light;
      border: none;
      border-radius: var.rem-calc(60);
      padding: var.rem-calc(10);
      width: var.rem-calc(315.14);
      height: var.rem-calc(45);
      transition: background 0.3s;
      margin-bottom: var.rem-calc(20);
      font-size: var.rem-calc(18);

      &:hover {
        background: var.$color-border-light;
        color: var.$color-accent;
      }
    }
  }

  &__social {
    margin-top: var.rem-calc(20);
    font-size: var.rem-calc(24);

    &-icon {
      width: var.rem-calc(24);
      height: var.rem-calc(24);
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
