.courses-list {
  display: grid;
  grid-template-columns: 70% 25%;
  gap: 5%;
}
.courses-list-left {
  .one-course {
    border: 2px solid #ff6130;
    display: grid;
    border-radius: 8px;
    margin: 2rem 0;
    padding: 2rem;
    grid-template-columns: 5% 80% 5%;
    gap: 2rem;

    h1 {
      margin-bottom: 2rem;
    }
    .first-p {
      margin-bottom: 1rem;
    }
    .second-p {
      margin-bottom: 1rem;
      span {
        font-weight: bold;
      }
    }
    .third-p {
      font-weight: bold;
    }
    .fourth-p {
      span {
        font-weight: bold;
      }
    }
  }
  .moduls {
    h1 {
      margin: 2rem 0;
    }
    p {
      margin: 2rem 0;
    }
  }
}

.courses-list-right {
  margin-top: 2rem;
  .about-course {
    background-color: #2870ed;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    .top {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 1rem;
      p {
        color: white;
      }
    }
    .bottom {
      color: white;
    }
  }
  .key-skills {
    h1 {
      margin-bottom: 1rem;
    }

    button {
      border-radius: 8px;
      background-color: #e4eaf0;
      outline: none;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.25rem 0.5rem;
      border: none;
    }
  }
}
