.course-header {
  width: 40%;
  flex-basis: 90%;
  .back {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
.dashboard-tomi-picture {
  position: relative;
  justify-content: space-between;
  .bigPic {
    width: 80%;
    height: 60%;
  }
  .iconLock {
    position: absolute;
    left: 6rem;
    width: 20%;
    top: 2rem;
  }
}
.course-overview-bottom {
  margin-top: 5rem;
  .text {
    display: flex;
    width: 100%;
    z-index: 99;
    gap: 40px;
    margin-bottom: 2rem;
    text-wrap: nowrap;
    .stat {
      display: flex;
      align-items: center;
      gap: 6px;
      p {
        font-size: 14px;
      }
    }
  }
  .buttons {
    margin-top: 2rem;
  }

  .empty-btn {
    border: 2px solid #0cb43f;
    color: #0cb43f;
    background-color: transparent;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 2rem;
  }
  .fillBtn {
    border: 2px solid #0cb43f;
    color: white;
    background-color: #0cb43f;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
  }
}
