.navbar {
  position: fixed;
  background-color: #2870ed;
  width: 80%;
  margin-top: 1%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.25rem 4rem;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);

  ul {
    display: flex;

    li {
      list-style-type: none;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      a {
        color: white;
      }
    }
  }

  .buttons {
    a {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    button {
      background-color: #ff6130;
    }
  }
}
