.moment-finish {
  background-color: #f1f5f7;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 2rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    span {
      font-weight: normal;
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
}
